.button {
    font: inherit;
    border: 1px solid #08a045;
    background: #08a045;
    border-radius: 10px;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
  }
  
  .button:hover,
  .button:active {
    background: white;
    border: 1px solid #08a045;
    color: #08a045;
    margin: 0;
  }
  
  .button:focus {
    outline: none;
  }
  