@use "../../styles/scss/All.module.scss" as All;

.container {
  width: 100%;
  height: 100%;
  @include All.flex-center(column);
}

.post-wrapper {
    width: 90%;
}

.button-box {
    width: 100%;
    text-align: right;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}
